/* src/components/events.css */
.upcoming-events {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2.5rem; /* Larger font size for emphasis */
    font-weight: bold; /* Make the text bold */
    color: #ff6f61; /* Customize text color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Subtle shadow for better readability */
    margin-top: 5% !important; /* Space above the title */
}

.events-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Space between title and event boxes */
}

.event-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px; /* Fixed width for event boxes */
    text-align: center;
    margin: 0 10px; /* Space between event boxes */
}

.event-icon {
    font-size: 3rem;
    color: #ff6f61;
    margin-bottom: 10px; /* Space between icon and date */
}

.event-date {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 15px; /* Space between date and button */
}

.view-tickets-button {
    font-size: 1.2rem;
    border-radius: 30px;
    background-color: #ff6f61;
    color: #fff;
    transition: background-color 0.3s ease;
}

.view-tickets-button:hover {
    background-color: #e55d50;
}
