<div class="slideshow-container">
  <div *ngFor="let image of images; let i = index" class="slide" [ngClass]="{'active': i === currentIndex}">
    <img [src]="image" alt="Slide {{i + 1}}">
  </div>

  <!-- Navigation buttons -->
  <a class="prev" (click)="previousSlide()">&#10094;</a>
  <a class="next" (click)="nextSlide()">&#10095;</a>
</div>

<!-- Dots to indicate current slide -->
<div class="dots-container">
  <span *ngFor="let image of images; let i = index" class="dot" [ngClass]="{'active-dot': i === currentIndex}" (click)="setSlide(i)"></span>
</div>
