<!--<div class="slideshow-container">-->
<!--  <div *ngFor="let image of images; let i = index" class="slide" [ngClass]="{'active': i === currentIndex}">-->
<!--    <img [src]="image" alt="Slide {{i + 1}}">-->
<!--  </div>-->

<!--  &lt;!&ndash; Navigation buttons &ndash;&gt;-->
<!--  <a class="prev" (click)="previousSlide()">&#10094;</a>-->
<!--  <a class="next" (click)="nextSlide()">&#10095;</a>-->
<!--</div>-->

<!--&lt;!&ndash; Dots to indicate current slide &ndash;&gt;-->
<!--<div class="dots-container">-->
<!--  <span *ngFor="let image of images; let i = index" class="dot" [ngClass]="{'active-dot': i === currentIndex}" (click)="setSlide(i)"></span>-->
<!--</div>-->

<div class="image-container">
  <img src="./images/dog_show.png" alt="dog show image">
</div>
