/* src/components/Home.css */
.hero-container {
    position: relative;
    height: 60vh; /* Adjust the height as needed */
    background: url('https://static.wixstatic.com/media/913019_a4a069f28aa844f89b097cacc10aea1f~mv2_d_4047_1974_s_2.jpg/v1/fill/w_980,h_734,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/913019_a4a069f28aa844f89b097cacc10aea1f~mv2_d_4047_1974_s_2.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay-text {
    font-size: 2rem !important;
    font-weight: 800 !important;
    /* background-color: rgba(0,0,0,0.5); */ /* Optional: Uncomment if needed */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20% !important; /* Space between text and button */
    margin-right: 40% !important;

}

.buy-tickets-button {
    font-size: 2.0rem !important;
    padding: 10px 20px;
    border-radius: 30px !important;
    background-color: #ff6f61; /* Customize button color */
    color: #fff;
    /* Button hover effect */
    transition: background-color 0.3s ease;
}

.buy-tickets-button:hover {
    background-color: #e55d50; /* Darker shade on hover */
}

/* Center the button horizontally */
.button-container {
    display: flex !important;
    justify-content: center !important; /* Center button horizontally */
    padding: 40px 0; /* Space above and below the button */
}
