/* src/components/TicketSelection.css */
.ticket-selection {
    margin-top: 20px;
}

@media (max-width: 600px) {
    .ticket-selection {
        display: block;
        text-align: center;
    }

    .ticket-selection .MuiFormControlLabel-root {
        width: 100%; /* Make checkboxes stack vertically */
    }
}
